@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-surface-hover: #334155;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
}

@layer base {
  body {
    @apply bg-background text-text-main antialiased selection:bg-primary/30 selection:text-white min-h-screen;
  }
}
